body {
    font-family: "Poppins";
    font-size: 17px;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    background: darkorange;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top: 15px;
}

.navbar-nav a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: transparent;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 165px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
}


/*add styles navbar color green and pattern*/

.navbar {
    width: 1300px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 105px;
    border-radius: 4px;
    background: url(../images/pattern-bg.png) center #009a4e;
    background-size: cover;
    position: absolute;
    z-index: 3;
    transform: translateX(-50%);
    left: 50%;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


/*color yellow text*/

li a {
    transition: background-color .5s;
}

li a:hover::after {
    transform: scale(1, 1);
}

li a::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #fbc50b;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform .25s;
    color: #fbc50b;
}


/*color yellow text*/


/* Bootstrap navbar dropdown with hover effect*/

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {}
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}


/*----------------------*/


/*Remove Dropdown Arrow*/

.dropdown-toggle::after {
    content: none;
}


/**/


/* text titulo background leaves*/

.side-content h2 {
    font-size: 80px;
    color: #009a4e;
    font-family: 'Gudea', sans-serif;
}

.side-content h6 {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: 'Gudea', sans-serif;
}


/*welcome texto con imagenes */

.leaves {
    background: url(../images/leaves.png);
    width: 100%;
    background-size: 100% auto !important;
}

.custom-button {
    height: 64px;
    line-height: 64px;
    display: inline-block;
    padding: 0 50px;
    border-radius: 6px;
    background: #fbc50b;
    color: #000;
    font-size: 15px;
    margin-top: 40px;
}


/*remove border card */

.card {
    border: 0;
    width: 18rem;
}

.card-img-top {
    border-radius: 20px;
}


/**/

.medium-img {
    margin-top: 150px;
    padding: 0 20px;
}

.row h5 {
    color: #009a4e;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    font-size: 30px;
}

.custom-button:hover {
    color: white;
    background-color: green;
}